* {
  color: yellow;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0B0C10;
  min-height: 100vh;
  width: 100vw;
  max-width:100%;  /* added */
}

@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 162, 158, 0.75);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.notiff {
  animation: popup 0.7s;
}

.active {
  visibility: visible;
}

button {
	transition : 0.01s;
}

#header {
  background-color: #1F2833;
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#header-title {
  color: #66FCF1;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#main {
  width: 100%;
  text-align: center;
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Chivo', sans-serif;
  margin-bottom: 4em;
}

#main-title, #result_text {
  color: #66FCF1;
  font-size: 2em;
}

p, #result_paragraph {
  font-weight: 300;
  margin-top: 0.5em;
  color: #C5C6C7;
  font-size: 1.25em;
}

#buttons {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  gap: 1.25em;
}

button {
  border-radius: 7px;
  border: 0;
  background-color: #1F2833;
  font-size: 3.5em;
  padding: 0.25em;
}

button:hover {
  box-shadow: 0px 0px 10px #66FCF1;
  background-color: #171d25
}

#result {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#status {
  gap: 4em;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-status {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}

.stats-logo {
  font-size: 3.5em;
}

.stats-h3 {
  color: #66FCF1;
}

#footer {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #1F2833;
  font-size: 1em;
  font-weight: lighter;
  margin-top: auto;
}

i {
  margin-left: 0.5em;
  color: white;
}

.notif {
  font-family: 'Chivo', sans-serif;
  border-radius: 15px;
  background-color: rgba(11, 12, 16, 1);
  padding: 3em 5em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#notif-text {
  text-align: center;
  font-family: 'Chivo', sans-serif;
  color: white;
  font-size: 2em;
}

#notif-button {
  font-family: 'Chivo', sans-serif;
  padding: 10px;
  font-size: 2em;
  color: #66FCF1;
}

@media only screen and (max-width: 320px){
  #buttons {
    gap: 0.5em;
  }
  #footer {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 500px){
  .stats-logo, button {
    font-size: 5em;
  }

  #result_text {
    font-size: 3em;
  }

  #result_paragraph {
    font-size: 2.25em;
  }

  .stats-h3 {
    font-size: 2em;
  }

  .notif {
    padding: 4em 6em;
  }
}

@media only screen and (min-width: 1280px){
  #footer {
    font-size: 1.25em;
  }

  .notif {
    padding: 6em 8em;
  }
}

button:hover {
  cursor: pointer;
}
